.wrapper {
    width: 300px;
    margin: 0px auto 0;
}
.container{
    
    height: 550px;
    width: 400px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;

}