
<div class="container-fluid g-0">
  <div *ngIf="!sharedService.isLoggedIn"> 
    <app-login></app-login>
  </div>
  <div *ngIf="sharedService.isLoggedIn">
    <!-- <app-header></app-header>
    <main>
  
      <app-side-nav>
      </app-side-nav>
      <div class="display-area p-3">        
        <router-outlet></router-outlet>
  
      </div>
      <app-right-nav></app-right-nav>
    </main>
    
    <app-footer></app-footer> -->
    <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>    
    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}" [ngStyle]="{'background-color': sharedService.leftTheme}" *ngIf="sharedService.leftLayout"></app-side-nav>    
    <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <router-outlet></router-outlet>
      <app-right-nav [rsideNavStatus]="rsideNavStatus" [ngClass]="{'app-right-nav-open':rsideNavStatus}" [ngStyle]="{'background-color': sharedService.rightTheme}" *ngIf="sharedService.rightLayout">      
      </app-right-nav>
    </div>
    <app-footer></app-footer>
  </main>  
  </div>
</div>