.border-white{
    border: 1px soldi white;
 }
 .right-nav-content{
     color: white;
     width: 250px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
 }
 
 .rnav-list{
     list-style: none;
     height: 100%;
     padding: 0%;
     margin-bottom: 0%;
 }
 
 .rnav-list-item{
     display: flex;
     align-items: center;
     height: 40px;
 }
 
 .rnav-list-open .rnav-list-item:hover{
     background-color: rgb(255, 255, 255, 0.3);
     border-radius: 5px;
 }
 
 .rnav-list-item i{
     font-size: 20px;
     height: 25px;
     width: 25px;
     margin-right: 15px;
     margin-left: 10px;
     text-align: center;
     line-height: 25px;
 }
 .rnav-list-item span{
     width: 170px;
     text-transform: capitalize;
 }
 
 a{
     text-decoration: none;
     color:white;
 }